/* 占쏙옙占쏙옙占쏙옙 占쌥깍옙 占쏙옙튼 */
.nav-tabs.main-tab >li > a .span-default {
    background: #424242;
}
.nav-tabs.main-tab.nav-tabs-inverse > li > a:hover .span-default {
    background: #807b7b;
}
.nav-tabs.main-tab.nav-tabs-inverse > li > a .span-default:hover {
    background: #00acac;
}
.tab-content.main-tab{
	padding: 10px;
}

div.content-form > div{
	padding-right: 0px;
    padding-left: 0px;

}
div.tab-content.main-tab {
	margin-bottom: 0px;
}
div.panel.main-tab {
	margin-bottom: 0px;
}
/* 占싯삼옙 占쏙옙 */
.tab-content.main-tab .page-header {
	padding: 5px;
	margin: 0 0 10px;
}
.tab-content.main-tab .breadcrumb {
    margin: 15px 5px 0 0;
}
.tab-content.main-tab .form-inline {
    /* margin-top:5px; 2018.10.10. Kim Seon Ho 수정*/
    margin-top : 0px;
}
.tab-content.main-tab .search-controls, .modal-body .search-controls{
    padding-left:90px;
    margin-top: 5px
}
.tab-content.main-tab .search-controls.non-icon{
    padding-left:0px;
    margin-top: 5px;
/*     margin-bottom: 10px; */
}

.tab-content.main-tab .search-controls:first-child {
    margin-top:0px;
}
.search-title-group{
	position: absolute;
     top:17px;
}
.search-button-group{
	/* position: absolute; */
	bottom: 10px;
	right: 10px;
}
.label.search-title{
    font-size: 14px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

/* 占싯삼옙 占쏙옙 占쏙옙*/
.tab-content.main-tab .search-form.multi .search-controls {
	padding-left:0px;
    margin-bottom: 10px
}
.tab-content.main-tab .search-form.multi .search-controls:LAST-CHILD {
    margin-bottom: 0px
}
.tab-content.main-tab .search-form.multi{
	 position: relative;
}
.tab-content.main-tab .search-form.multi .toggle-btn{
	top: 17px;
	left :  2px;
	position: absolute;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
.search-form.multi{
    height: 50px;
    overflow: hidden;
}
.search-form.multi.on{
    height: auto;
}

.search-form.multi .form-group .form-control.btn{
    height: auto;
}

.tab-content.main-tab .search-form.multi .search-controls .btn{
    margin-top: 10px;
}
.tab-content.main-tab .search-form.multi .search-controls .form-group.inner-btn  .btn{
    margin-top: 0px;
}
.tab-content.main-tab .search-form.multi .search-controls .input-group-btn .btn{
    margin-top: 0px;
}


.search-button-group {
    position: inherit;
    bottom: 8px;
    right: 10px;
    /* margin-bottom: -25px; */
    text-align: right;
}
.auth-btn{
	padding-right: 0px;
}

div.content-form .multi-select-box{
	padding-right: 0px;
	padding-left: 0px;
}
.search-form.multi .form-group .btn{
	margin-top: 10px;
}
.search-form.multi .form-group.inner-btn .form-control{
	margin-top: 0;
    width: auto;
    display: inline-block;
}
.search-form.multi .form-group .btn{
	margin-top: 0;
}
.auth-btn .fa-angle-right:before{
	content: "\f107";
}
.auth-btn .fa-angle-left:before{
	content: "\f106";
}
.auth-btn .fa-angle-double-right:before {
    content: "\f103";
}
.auth-btn .fa-angle-double-left:before {
    content: "\f102";
}
.auth-btn{
    margin-bottom: 10px;
   	text-align: center;
}
div.content-form > div {
    padding-right: 0px;
}
.auth-btn .btn{
   min-width: 75px;
}
@media (min-width: 768px){
	.tab-content.main-tab .search-form.multi .search-controls .btn{
	    margin-top: 0px;
	}
	.search-button-group {
	    /* position: absolute; */
	    text-align: right;
	}
	.auth-btn .fa-angle-right:before{
	content: "\f107";
	}
	.auth-btn .fa-angle-left:before{
		content: "\f106";
	}
	.auth-btn .fa-angle-double-right:before {
	    content: "\f103";
	}
	.auth-btn .fa-angle-double-left:before {
	    content: "\f102";
	}
	.auth-btn{
	    margin-bottom: 10px;
    	text-align: center;
	}
	.auth-btn .btn{
	    min-width: 120px;
	}
}

@media (min-width: 992px){
	.col-md-6.minus-5{
		width:45.8333333333%
	}
	.tab-content.main-tab .search-form.multi .search-controls .btn{
	    margin-top: 0px;
	}
	.auth-btn .btn{
	    width: 100%;
	    min-width: 50px;
	}
	.search-button-group {
	    /* position: absolute; */
	    text-align: right;
	}
	.auth-btn .fa-angle-left:before{
		content: "\f104";
	}
	.auth-btn .fa-angle-right:before{
		content: "\f105";
	}
	.auth-btn .fa-angle-double-left:before {
	    content: "\f100";
	}
	.auth-btn .fa-angle-double-right:before {
	    content: "\f101";
	}
	.auth-btn{
	    padding-left: 10px !important;
	}
	div.content-form > div {
	    padding-right: 15px;
	}
}


.panel.main-tab > .tab-content {
    /* background-color: #d9e0e7; */
    background-color: #fff; /* 2018-09-10 Kim Seon Ho. For WebApp, background changed */
    height:100%;

}
.panel.main-tab > div > .tab-overflow .nav.nav-tabs{
	background: #242a30;
}

.panel-body-scroll {
    padding: 15px;
    overflow:scroll;
    overflow-x:hidden;
    height:100%;
}
.nav-tabs.nav-tabs-inverse {
    background: #242a30;
    background: #fff;
}
.content {
    /* padding: 7px 5px; */
    padding : 0px; /* 2018.09.06 수정 */
    height:100%;
    /* margin-top:-42px; Paragon-wegapp JS 에서 처리*/
}
#page-container{
	height:100%;
	/* overflow-y: scroll; */
}
#tabs{
	height:100%;
}
body {
    /* background: #6c7275; */
    /* OFV */
    background : white;
    overflow-y: hidden;
}
div.view-form{
    padding:5px 15px 10px 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    position: relative;
}
div.search-form  .hr-line-dashed {
    border-top: 1px dashed #d0d1d2;
    color: #ffffff;
    background-color: #f5f5f5;
    height: 1px;
    margin: 10px 0;
}

div.search-form{
    padding:5px 15px 8px 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    position: relative;
}
.program-code{
	margin-left: 5px;
}
.grid-wrapper > .ui-jqgrid{
margin-bottom: 10px;

}


/* 占쏙옙占시ｏ옙占� 占쏙옙튼 */
.breadcrumb > li > i{
	margin-left: 10px;
	cursor: pointer;
}
.breadcrumb > li > i.active{
	color: #ffa829;text-shadow: 1px 2px 0 rgb(220, 191, 149); margin-left: 10px;
}
/* 占쏙옙占쏙옙 占쏙옙트 占쏙옙占쏙옙 */
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}
.modal.fade .modal-dialog {
}

@media (max-width: 768px){
	.modal.fade .modal-dialog {
	    width: auto !important;
	}
}



.modal.fade.in.custom{
	display: block;
/* 	overflow-y:auto; */
	overflow-y:hidden;
	background-color: rgba(0, 0, 0, 0.1);
}
.view-form .form-horizontal .form-group > div{
	background-color: #fefefe;
}
.view-form pre{
    margin: 0;
}
.modal-title{
	cursor: move;
}

.modal-footer{
	cursor: move;
}

@media(max-width: 979px) {
    .view-form .form-horizontal.form-bordered .form-group > .control-label {
        padding: 5px 0 0 10px;
    }
    .view-form .form-horizontal.form-bordered .form-group > div{
        padding: 10px;
        border-radius:5px;
        border: 1px solid #ccd0d4;
    }
    .view-form .col-xs-1,
    .view-form .col-xs-10,
    .view-form .col-xs-11,
    .view-form .col-xs-12,
    .view-form .col-xs-2,
    .view-form .col-xs-3,
    .view-form .col-xs-4,
    .view-form .col-xs-5,
    .view-form .col-xs-6,
    .view-form .col-xs-7,
    .view-form .col-xs-8,
    .view-form .col-xs-9 {
    	float: none;
	}
}

div.content-form > div.tree-wrap.view-form{
	min-height: 635px;
	padding-left: 0px;
}
div.content-form{
	padding:0;
	margin:0;
    margin-bottom: 1px;
    position: relative;
}
div.content-form .view-form > .view-form-title{
    padding: 9px 10px 8px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
}
.search-controls  .lb-sm{
    font-size: 14px;
    line-height: 2;
}

#ajax-loader{
	width: 100%;
    background-color: rgba(0, 0, 0, 0.19);
    /* height: 1000px; */
    height:100%;
    /* display: block; */
    position: fixed;
    z-index: 999999999;
    top: 0;
}
.search-controls select.form-control {
	height: 30px;
}

/* 占쌓몌옙占쏙옙占쏙옙  */
.tab-grid .tab-content{
	padding: 0;
}
.tab-grid .tab-grid-wrapper{
	padding: 5px;
}
.tab-content .tab-grid-wrapper .tab-inner{
	position: absolute ;
    z-index: 100;
    right: 0;
    top: -10px;
}

.tab-content .tab-grid-wrapper .tab-inner{
	position: absolute;
    z-index: 100;
    right: 0;
    top: -44px;
    padding-right: 0px;
    border: none;
    background-color: transparent;
}

.tab-content .tab-grid-wrapper{
	position: relative;
}
.nav-tabs.nav-justified.inner-tab > li {
    width: 200px;
}



.span-warning {
    color: #fff;
    background: #f59c1a;
    border-color: #f59c1a;
}
.span-danger {
    color: #fff;
    background: #ff5b57;
    border-color: #ff5b57;
}
.span-info {
    color: #fff;
    background: #49b6d6;
    border-color: #49b6d6;
}
.span-white {
    font-weight: normal;
    color: #333;
    background: #fff;
    border-color: #e2e7eb;
}
.span-default {
    color: #fff;
    background: #b6c2c9;
    borde-color:#b6c2c9;
}
.span-inverse {
    color: #fff;
    background: #2d353c;
    border-color: #2d353c;
}
.span-primary {
    color: #fff;
    background: #348fe2;
    border-color: #348fe2;
}
.span-success {
    color: #fff;
    background: #00acac;
    border-color: #00acac;
}

.span-split{
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	display:block;
}