/* !important --> UI framework less, sass 占쏙옙 占쎌선 占쏙옙占쏙옙풔占� 占쏙옙占쏙옙占썽보占쏙옙 占쎌선 占쏙옙占쏙옙占싹깍옙 占쏙옙占쏙옙 占쏙옙占� */

/* 占쏙옙占� 占쏙옙占쏙옙占� 占쏙옙占쌘울옙 占쏙옙占쏙옙 占쏙옙占쏙옙占쏙옙 占쏙옙 block 占쏙옙占� 占쏙옙占쏙옙占쏘를 占쏙옙칠占쏙옙 占쌕바뀐옙 처占쏙옙 占싹깍옙 占쏙옙占쏙옙 占쏙옙占� */
span, p, div {
	white-space: normal;
}

/* 占쏙옙트 占쏙옙占쏙옙占쏙옙 占쏙옙트占쏙옙트占쏙옙 占쏙옙 UI 占쏙옙占쏙옙占쌈울옙크占쏙옙 占쏙옙占� 占쌨댐옙 占쌈쇽옙占쏙옙 占쏙옙占쏙옙 占싹깍옙 占쏙옙占쏙옙 占쏙옙占� */
.input-group-addon, .form-control {
	font-size: 100% !important;
}

.pda-bottom-group>button {
	font-size: 100% !important;
}

/* 화占쏙옙 占썩본 UI */
.main-tab .tab-pane {
	height: inherit;
}

.container {
	height: 100%;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	/* height:inherit; */
}

.navbar-header {
	height: 50px;
	padding: 10px;
	text-align:center;
}

.navbar-toggle, .navbar-toggle:link, .navbar-toggle:visited, .navbar-toggle:hover, .navbar-toggle:active {
	float:left;
	padding: 0px;
		color :#707478;
		text-decoration:none;
		outline: none;
}
@media (min-width:767px) {
	.navbar-toggle{
		display:none;
	}
	.navbar-home{
		display:none;
	}
}

@media (max-width: 767px) {
	.navbar-home, .navbar-home:link, .navbar-home:visited, .navbar-home:hover, .navbar-home:active{
		float:right;
		padding: 0px;
		color :#707478;
		text-decoration:none;
		border-style: outset;
		outline: none;
	}

}


#navCaption > span {
	white-space:inherit;
}
#navCaption{
/* 	display:inline-block; */
	width:250px;
	font-size:1.2em;
	color :#707478;
	white-space:nowrap;
	word-wrap:normal;
    overflow:hidden;
    text-overflow:ellipsis;
}

@media(max-width: 375px) {
	#navCaption{
		font-size:1em;
	}
}

.favorite{
	position : relative;
    display: inline-block;
}

.tab-content.main-tab, .modal-body.drag-not {
	padding: 5px;
}

.form-group {
	margin-bottom: 5px !important;
}

.input-group-btn {
	width: 1% !important;
}

/* Modal 占싯억옙 UI 占쏙옙占쏙옙*/
.modal-title {
	text-align: center;
}

.modal-header {
	z-index: 2;
	padding:5px 15px;
}
.modal-header > .close {
	margin-top:5px;
}

.modal-body {
	z-index: 1;
	overflow-y: scroll;
}

/* WMS Text Alignment */
.input-group-addon {
	text-align: left !important;
	background-color:transparent;
}

/* OFV INPUT 占쏙옙占쏙옙 */
input {
	text-align: center;
}

input:focus {
	text-align: left;
}

input[id$=Nm] {
	text-align: left;
}

input[id$=Qty] { /* TODO */
	text-align: right;
	padding-right: 60px !important;
}

/* INPUT 占쏙옙 QTY 占쏙옙 UOM 표占쏙옙 占싹깍옙 占쏙옙占쏙옙  */
input[id$=Qty] + .input-group-btn {
	position: absolute;
	z-index: 9;
	right: 60px;
}

.input-group-btn {
	position: absolute;
	z-index: 9;
	right: 30px;
}

input[id$=Ymd]:read-only, input[id$=Ymd]:focus, input[id$=Cd]:read-only, input[id$=Ymd]:focus, input[id$=Pkqty], input[id$=Dalat]{
	text-align: center;
	background-color: white;
	color: black;
}

/* AMS 占쏙옙占쏙옙 TAG input group 占쏙옙튼 */
.input-group-btn .btn {
	background: none;
	border: none;
	box-shadow: none;
	color: #348FE2;
}

.form-control {
	border-radius: 5px !important;
}



.input-group[class*="col-"] {
	float: left;
}


.spanDiv{
    word-break: break-all !important;
    /* display: -webkit-box !important; */
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
	white-space:normal !important;
	width:120px !important;
	padding-top:0px !important;
	padding-bottom:0px  !important;
}

/*
占쏙옙占쏙옙 占십븝옙 占쏙옙占쏙옙.
占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙, 占쏙옙트占쏙옙트占쏙옙 占쏙옙占쏙옙 커占쏙옙占싶몌옙占쏙옙징
占쏙옙트占쏙옙트占쏙옙 1/12 -> 1/20
*/
div[class^="col-xs-w"], div[class^="col-sm-w"], div[class^="col-md-w"],
	button[class^="col-xs-w"], button[class^="col-sm-w"], button[class^="col-md-w"]
	{
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px;
	float: left;
}

.col-xs-w5 {
	width: 5% !important;
}

.col-xs-w10 {
	width: 10% !important;
}

.col-xs-w15 {
	width: 15% !important;
}

.col-xs-w20 {
	width: 20% !important;
}

.col-xs-w25 {
	width: 25% !important;
}

.col-xs-w30 {
	width: 30% !important;
}

.col-xs-w33f3 {
	width: 33.33% !important;
}

.col-xs-w35 {
	width: 35% !important;
}

.col-xs-w40 {
	width: 40% !important;
}

.col-xs-w45 {
	width: 45% !important;
}

.col-xs-w47f5 {
	width: 47.5% !important;
}

.col-xs-w50 {
	width: 50% !important;
}

.col-xs-w55 {
	width: 55% !important;
}

.col-xs-w60 {
	width: 60% !important;
}

.col-xs-w65 {
	width: 65% !important;
}

.col-xs-w70 {
	width: 70% !important;
}

.col-xs-w75 {
	width: 75% !important;
}

.col-xs-w80 {
	width: 80% !important;
}

.col-xs-w85 {
	width: 85% !important;
}

.col-xs-w87f5 {
	width: 87.5% !important;
}

.col-xs-w90 {
	width: 90% !important;
}

.col-xs-w95 {
	width: 95% !important;
}

.col-xs-w100 {
	width: 100% !important;
}

@media ( min-width : 500px) {
	.col-xsm-w5 {
		width: 5% !important;
	}
	.col-xsm-w10 {
		width: 10% !important;
	}
	.col-xsm-w15 {
		width: 15% !important;
	}
	.col-xsm-w20 {
		width: 20% !important;
	}
	.col-xsm-w25 {
		width: 25% !important;
	}
	.col-xsm-w30 {
		width: 30% !important;
	}
	.col-xsm-w33f3 {
		width: 33.33% !important;
	}
	.col-xsm-w35 {
		width: 35% !important;
	}
	.col-xsm-w40 {
		width: 40% !important;
	}
	.col-xsm-w45 {
		width: 45% !important;
	}
	.col-xsm-w47f5 {
		width: 47.5% !important;
	}
	.col-xsm-w50 {
		width: 50% !important;
	}
	.col-xsm-w55 {
		width: 55% !important;
	}
	.col-xsm-w60 {
		width: 60% !important;
	}
	.col-xsm-w65 {
		width: 65% !important;
	}
	.col-xsm-w70 {
		width: 70% !important;
	}
	.col-xsm-w75 {
		width: 75% !important;
	}
	.col-xsm-w80 {
		width: 80% !important;
	}
	.col-xsm-w85 {
		width: 85% !important;
	}
	.col-xsm-w90 {
		width: 90% !important;
	}
	.col-xsm-w95 {
		width: 95% !important;
	}
	.col-xsm-w100 {
		width: 100% !important;
	}

}

@media ( min-width : 767px) {
	.col-sm-w5 {
		width: 5% !important;
	}
	.col-sm-w10 {
		width: 10% !important;
	}
	.col-sm-w15 {
		width: 15% !important;
	}
	.col-sm-w20 {
		width: 20% !important;
	}
	.col-sm-w25 {
		width: 25% !important;
	}
	.col-sm-w30 {
		width: 30% !important;
	}
	.col-sm-w33f3 {
		width: 33.33% !important;
	}
	.col-sm-w35 {
		width: 35% !important;
	}
	.col-sm-w40 {
		width: 40% !important;
	}
	.col-sm-w45 {
		width: 45% !important;
	}
	.col-sm-w47f5 {
		width: 47.5% !important;
	}
	.col-sm-w50 {
		width: 50% !important;
	}
	.col-sm-w55 {
		width: 55% !important;
	}
	.col-sm-w60 {
		width: 60% !important;
	}
	.col-sm-w65 {
		width: 65% !important;
	}
	.col-sm-w70 {
		width: 70% !important;
	}
	.col-sm-w75 {
		width: 75% !important;
	}
	.col-sm-w80 {
		width: 80% !important;
	}
	.col-sm-w85 {
		width: 85% !important;
	}
	.col-sm-w90 {
		width: 90% !important;
	}
	.col-sm-w95 {
		width: 95% !important;
	}
	.col-sm-w100 {
		width: 100% !important;
	}
}

@media ( min-width : 980px) {
	.col-md-w5 {
		width: 5% !important;
	}
	.col-md-w10 {
		width: 10% !important;
	}
	.col-md-w15 {
		width: 15% !important;
	}
	.col-md-w20 {
		width: 20% !important;
	}
	.col-md-w25 {
		width: 25% !important;
	}
	.col-md-w30 {
		width: 30% !important;
	}
	.col-md-w33f3 {
		width: 33.33% !important;
	}
	.col-md-w35 {
		width: 35% !important;
	}
	.col-md-w40 {
		width: 40% !important;
	}
	.col-md-w45 {
		width: 45% !important;
	}
	.col-md-w47f5 {
		width: 47.5% !important;
	}
	.col-md-w50 {
		width: 50% !important;
	}
	.col-md-w55 {
		width: 55% !important;
	}
	.col-md-w60 {
		width: 60% !important;
	}
	.col-md-w65 {
		width: 65% !important;
	}
	.col-md-w70 {
		width: 70% !important;
	}
	.col-md-w75 {
		width: 75% !important;
	}
	.col-md-w80 {
		width: 80% !important;
	}
	.col-md-w85 {
		width: 85% !important;
	}
	.col-md-w90 {
		width: 90% !important;
	}
	.col-md-w95 {
		width: 95% !important;
	}
	.col-md-w100 {
		width: 100% !important;
	}
}

@media ( min-width : 767px) {
	.container-fluid {
		padding-left: 260px;
	}
}

/* bottom button group */
.pda-bottom-group {
	position: relative !important;
	height: 40px;
}

/* @media (min-width: 767px){
	.pda-bottom-group{
		left:260px;
	}

	.modal-btn-group{
		left:10px;
	}
} */
.leftMenuInfoDiv {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

/* 占쏙옙占쏙옙 占십븝옙 占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙占� */
button[class^="col-spacer-w"] {
	position: relative;
	float: left;
	padding: 0px;
	height: 30px;
	background: #fff;
	border: 0px white;
}

.col-spacer-w2f5 {
	width: 2.5%;
}

.col-spacer-w5 {
	width: 5%;
}

.col-spacer-w10 {
	width: 10%;
}

/* left menu */
/* 환占썸설占쏙옙. 占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙 占쏙옙占쏙옙 占쏙옙 占쏙옙 占쏙옙, 占쏙옙占쏙옙 占쏙옙占쏙옙풔占� 占쏙옙占쏙옙 占쏙옙 占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙占쏙옙占� */
div[class^="leftMenuDiv"] {
	display: flex;
}

.leftMenuChild1 {
	flex: 1;
}

.leftMenuChild2 {
	flex: 2;
}

.leftMenuChild3 {
	flex: 3;
}

/* logout */
.sidebar-logout {
	position: fixed;
	right: 0px;
}

/* grid */
input[type="checkbox"] { /* forms.less overwrite*/
	margin: 2px 0 0;
}

.modal {
	/* padding-top : 15px; */

}
/* modal */
@media ( min-width :767px) {
	.modal {
		left: 250px;
	}
}

/* form 占쏙옙占� 占쏙옙 input 占쏙옙 占쏙옙占쏙옙占쌤뱄옙튼 */
/* input-group-btn 占쏙옙 占쌍뤄옙 占싱몌옙티占쏙옙, Text 占쏙옙 占쏙옙占� */
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	margin-left: -5px;
	top: 1px;
	height: 30px
}

.input-group-btn>button {
	cursor: default;
}

/* TODO DELETE .slimScrollDiv {
	position: initial;
} */

/* 占쏙옙占쏙옙 占쏙옙크占싼뱄옙 */
/* 占썩본 占쏙옙크占싼뱄옙 占쏙옙占쏙옙화,  */
::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: transparent;
}

/* 占쏙옙트占쏙옙트占쏙옙 form-group 占쌓두몌옙, 커占쏙옙占싶몌옙占쏙옙징 div占쏙옙 占쏙옙占썽때 UI占쏙옙 占쏙옙占쏙옙占싹곤옙 占싹깍옙 占쏙옙占쏙옙 占쌩곤옙 */
/* 환占썸설占쏙옙 占쌨댐옙 占쏙옙占쏙옙占싶듸옙 CSS */
label[class="input-group-addon"] {
	width: 0px !important;
}

.radio-inline {
	width: 0px;
	display: inline-block;
	margin-left: 0px !important;
}

.input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"],
	.checkbox-inline input[type="checkbox"] {
	position: relative !important;
	margin-left: 0px !important;
}

.form-border {
	border: 1px #ccd0d7 solid;
	border-radius: 5px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon,
	.input-group-sm>.input-group-btn>.btn, .form-border {
	height: 40px;
	padding: 5px 10px;
	line-height: 1.5;
}

.radio-inline {
	width: 0px;
	display: inline-block;
	margin-left: 0px !important;
}

.input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"],
	.checkbox-inline input[type="checkbox"] {
	position: relative !important;
	margin-left: 0px !important;
}

.form-border {
	border: 1px #ccd0d7 solid;
	border-radius: 5px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon,
	.input-group-sm>.input-group-btn>.btn, .form-border {
	height: 40px;
	padding: 5px 10px;
	line-height: 1.5;
}

/* 占쌓몌옙占쏙옙 占쏙옙占� 占시뤄옙 */
th.ui-th-column{
	display:inline-table;
	text-align:center;
}
th.ui-th-column > .ui-th-div{
	display:table-cell;
	min-height:35px;
	vertical-align:middle;
	word-break: break-all !important;
}

/* buttonGrp - button height 占쏙옙占쏙옙 */
div[id$=BtnGrp] > button[id$=Btn]{
	height:40px;
}

	.fold .form-group{
		display: none;
	}
	.fold.active > .form-group{
		display: block;
	}
	.foldToggle:BEFORE{
	   	width: 100%;
	    height: 5px;
	    bottom: -5px;
	    border: 1px solid #ccc;
	    content: "";
	    position: absolute;
	    background-color: #efefef;
	}
	.foldToggle:AFTER{
		display: inline-block;
	    width: 50px;
	    border: 1px solid #ccc;
	    border-top: 1px solid #efefef;
	    margin-left: 2px;
	    text-align: center;
	    vertical-align: middle;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    font: normal normal normal 14px/1 FontAwesome;
	    content: "\f0d7";
	    position: absolute;
	    bottom: -20px;
	    right: -moz-calc(50% - 25px);
		right: -webkit-calc(50% - 25px);
		right: calc(50% - 25px);
	    color: #888;
	    cursor: pointer;
	    background-color: #efefef;
	}


/* DASHBOARD ICON 占쏙옙占쏙옙占쏙옙 */
.pdaDashIconDiv{
	width	:45% !important;
	height	:80px;
	margin	:5px 5px;
}
.pdaDashIconDivText{

}
@media ( min-width : 515px) {
	.pdaDashIconDiv {
		width: 30% !important;
		height: 120px;
	}
}
@media ( min-width : 767px) {
	.pdaDashIconDiv {
		width: 45% !important;
		height: 150px;
	}
}
@media ( min-width : 1024px) {
	.pdaDashIconDiv {
		width: 30% !important;
	}
}
@media ( min-width : 1280px) {
	.pdaDashIconDiv{
		width	:30% !important;
		height	:200px;
}
}
@media ( min-width : 1440px) {
	.pdaDashIconDiv {
		width: 20% !important;
		height: 220px;
	}
}
@media ( min-width : 1600px) {
	.pdaDashIconDiv {
		width: 15% !important;
		height: 200px;
	}
}

